# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.proto text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary

# Denote all files that should not be modified in checkout or checkin
package-lock.json -text
yarn.lock -text
